#--------------------------------------
#all files are ignored by default
#--------------------------------------
*.*

#--------------------------------------
#permited files
#--------------------------------------

#.txt

#ignore list
!*.gitignore

#figures
!*.png

#PROFICAD
!*.xse

#tex files
!*.tex
!*.cls
!*.bib
!*.bst
!*.sty

#C source files
!*.c
!*.h


#JAVA files
!*.java

!*.form

!*.jar

#office files
!*.docx
!*.docm
!*.xlsx
!*.xlsm

#matlab files
!*.m
!*.mat
!*.slx

#--------------------------------------
#ignored files - special specifications
#--------------------------------------

#some files, that do not have suffix
makefile

#office temporary files
~$*.docx
~$*.xlsx
