#--------------------------------------
#all files are ignored by default
#--------------------------------------
*.*

#--------------------------------------
#permited files
#--------------------------------------

#qucs
!*.data
!*.dpl
!*.sch

#pdf files
!*.pdf

#txt files
!*.txt
!.placeholder

#ignore list
!*.gitignore

#figures
!*.png
!*.jpg
!*.svg

#PROFICAD
!*.sxe

#tex files
!*.tex
!*.cls
!*.bib
!*.bst
!*.sty

#C source files
!*.c
!*.h

#ASM source files
!*.asm

#JAVA files
!*.java

!*.form

!*.jar

#office files
!*.docx
!*.docm
!*.doc
!*.xlsx
!*.xlsm
!*.xls
!*.rtf
!*.pptx
!*.ppt
!*.odp
!*.csv

#matlab files
!*.m
!*.mat
!*.slx
!*.fig

#eagle files
!*.sch
!*.brd

#--------------------------------------
#ignored files - special specifications
#--------------------------------------

#some files, that do not have suffix
makefile

#office temporary files
~$*.docx
~$*.xlsx
~$*.doc
~$*.xls
~$*.rtf

#papers
sageManuscript.pdf
